.auth-container{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.auth-card{
    width:420px;
    background:white;
    padding:35px;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

.auth-card h2{
    text-align:center;
    margin-bottom:30px;
    font-size:2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.auth-card label{
    display:block;
    margin-top:18px;
    margin-bottom:8px;
    font-weight:600;
    font-family:'Lucida Sans', Geneva, Verdana, sans-serif;
}

.auth-card input{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:15px;
    box-sizing:border-box;
}

.auth-card input:focus{
    outline:none;
    border-color:#4f8df7;
    box-shadow:0 0 5px rgba(79,141,247,.3);
}

.auth-card button{
    width:100%;
    margin-top:28px;
    padding:13px;
    border:none;
    border-radius:10px;
    background:#4f8df7;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.auth-card button:hover{
    background:#3476e8;
}

.auth-card p{
    margin-top:20px;
    text-align:center;
}

.auth-card a{
    color:#3476e8;
    text-decoration:none;
    font-weight:bold;
}

.flash{
    padding:10px;
    border-radius:8px;
    margin-bottom:15px;
    text-align:center;
}

.flash.success{
    background:#d4edda;
    color:#155724;
}

.flash.error{
    background:#f8d7da;
    color:#721c24;
}

@media(max-width:500px){

.auth-card{
    width:90%;
    padding:25px;
}

}