<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One For All</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <div class="navbar">
        <div class="heading">
            <div class="logo"><img class="logo-img" src="../imgs/OFA logo.png" alt="logo"></div>
            <h1 class="head">One For All</h1>

        </div>
        <div>
            <ul class="nav-bar-option">
                <li>
                    <p>Home</p>
                </li>
                <li>
                    <p>Something</p>
                </li>
                <li>
                    <p>Something</p>
                </li>
                <li>
                    <p>Something</p>
                </li>
                <li>
                    
                </li>
            </ul>
        </div>
    </div>

    <div class="content">

        <ul class="cards-list">
            <!-- Notes -->
            <li>
                <div class="cards">
                    <img src="../imgs/OFA logo.png" alt="notes" class="card-logo">
                    <p class="card-head">Notes App</p>
                </div>
            </li>
            <!-- Quiz -->
            <li>
                <div class="cards">
                    <img src="../imgs/OFA logo.png" alt="Quiz" class="card-logo">
                    <p class="card-head">QuizMaster</p>
                </div>
            </li>
            <!-- Password generator -->
             <li>
                <div class="cards">
                    <img src="../imgs/OFA logo.png" alt="Password generator" class="card-logo">
                    <p class="card-head">Password Generator</p>
                </div>
            </li>
            <!-- QR generator -->
             <li>
                <div class="cards">
                    <img src="../imgs/OFA logo.png" alt="Qr generator" class="card-logo">
                    <p class="card-head">QR Generator</p>
                </div>
            </li>
            <!-- QR scanner -->
             <li>
                <div class="cards">
                    <img src="../imgs/OFA logo.png" alt="QR scanner" class="card-logo">
                    <p class="card-head">QR Sacnner</p>
                </div>
            </li>
            <!-- Unit converter -->
             <li>
                <div class="cards">
                    <img src="../imgs/OFA logo.png" alt="unit converter" class="card-logo">
                    <p class="card-head">Unit Converter</p>
                </div>
            </li>
            <!-- TExt utility -->
             <li>
                <div class="cards">
                    <img src="../imgs/OFA logo.png" alt="Text Utility" class="card-logo">
                    <p class="card-head">Text Utility</p>
                </div>
            </li>
            <!-- AI Chat box -->
             <li>
                <div class="cards">
                    <img src="../imgs/OFA logo.png" alt="AI Chat box" class="card-logo">
                    <p class="card-head">AI Chat Box</p>
                </div>
            </li>
        </ul>
    </div>
    
</body>

</html>